@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    @apply text-lg;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark;
  }
  .title {
    @apply text-6xl lg:text-7xl mb-6 font-bold;
  }
  .subtitle {
    @apply text-xl text-light font-normal mb-6;
  }
  .btn {
    @apply rounded-full transition flex justify-center items-center;
  }
  .btn-sm {
    @apply h-[48px] px-[16px] text-lg font-normal;
  }
  .btn-md {
    @apply h-[50px] px-[16px] text-lg font-normal;
  }
  .btn-lg {
    @apply h-[50px] px-6 text-xl font-normal;
  }
  .btn-secondary {
    @apply text-white bg-secondary hover:bg-secondaryHover;
  }
  .btn-outline {
    @apply bg-transparent text-secondary border border-secondary hover:bg-secondaryHover hover:text-white px-10;
  }
}
